# Python cache
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
env/
.venv/

# PyInstaller (generado al exportar el .exe)
build/
dist/
*.spec

# IDE
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.tmp